extends ../layouts/application.pug

block header
  = t('views.tasks.new.header')

block content
  +formFor()(action=route('tasks') method='post')
    +input(task, 'name', t('views.tasks.name'), errors)(type="text")
    +textarea(task, 'description', t('views.tasks.description'))
    +select(task, 'statusId', t('views.tasks.status'), statuses,  errors)
    +select(task, 'executorId', t('views.tasks.executor'), users, errors)
    +select(task, 'labels', t('views.tasks.labels'), labels, errors)(multiple)

    +submit(task)(value=t('views.tasks.new.submit'))