doctype html
html.h-100(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='')
    meta(name='author' content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
    meta(name='generator' content='Hugo 0.84.0')
    title Cover Template · Bootstrap v5.0
    link(rel='canonical' href='https://getbootstrap.com/docs/5.0/examples/cover/')
    // Bootstrap core CSS
    link(href='../assets/dist/css/bootstrap.min.css' rel='stylesheet')
    style.
      .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      }
      @media (min-width: 768px) {
      .bd-placeholder-img-lg {
      font-size: 3.5rem;
      }
      }
    // Custom styles for this template
    link(href='cover.css' rel='stylesheet')
  body.d-flex.h-100.text-center.text-white.bg-dark
    .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      header.mb-auto
        div
          h3.float-md-start.mb-0 Cover
          nav.nav.nav-masthead.justify-content-center.float-md-end
            a.nav-link.active(aria-current='page' href='#') Home
            a.nav-link(href='#') Features
            a.nav-link(href='#') Contact
      main.px-3
        h1 Cover your page.
        p.lead
          | Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
        p.lead
          a.btn.btn-lg.btn-secondary.fw-bold.border-white.bg-white(href='#') Learn more
      footer.mt-auto.text-white-50
        p
          | Cover template for 
          a.text-white(href='https://getbootstrap.com/') Bootstrap
          | , by 
          a.text-white(href='https://twitter.com/mdo') @mdo
          | .
